

body{
    font-family: sans-serif;
}

a {
    text-decoration: none;
}


#padreboton{
    display: flex;
    justify-content: center;
     padding: 1.5em;  
}

.boton{
    color:#444;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    &:hover{
    background-color: #444;
    color: white;
    transition: .3s;
}

}


ul {
    list-style: disc;
    list-style: none;
   

}


.logo {
    width: 30%;
    height: 70px;

    .logo p a {
        color: black;
        font-size: 40px;
    }
}

.ancho {
    width: auto;
    height: 70px;
    padding-left: 20px;

}

.colorprenda {
    color: black;
    font-family: Arial;
    font-size: small;
}

.titulo {
    display: flex;
    justify-content: center;
    color: black;
    font-family: Arial;
    font-size:larger;
    
}


nav ul li a {
    color: #444;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    nav ul li a:hover {
        background-color: #444;
        color: white;
        transition: all .3s;
    
    }

}

#navegacion {
    display: flex;
    flex-direction:row;
    justify-content: center;
    justify-content: space-evenly;

    .navxd{
        width: 100%;
        height: 70px;
        
    }
    
}


#proyectos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    width: 100%;
     max-width: 1170px;
     margin-left: auto;
     margin-right: auto;
     padding: 1.5em;  


     .proyecto__item{
        height: 300px;
        width: 200px;
        padding: 10px;
        margin: 10px;
        border: 1px solid black
    }
 }


#form{
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    box-shadow: 0 0 20px 0 gray;
    text-align: center;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
